*,
::before,
::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0px;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizespeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  font-size: 62.5%;
}

/*abstracts: como consejo traer siempre las variables primero*/
body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  letter-spacing: 5px;
  color: hsl(0deg, 0%, 100%);
  line-height: 1.2;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

.header {
  background: url("/images/desktop/image-header.jpg") center/cover;
}
.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 2rem;
}
.header .hamburger-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header .mobile-menu {
  display: none;
}
.header .mobile-menu.is-open {
  position: absolute;
  width: 80%;
  top: 70px;
  height: 210px;
  padding: 19px;
  left: 35px;
  bottom: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
  flex-direction: column;
  text-decoration: none;
  background-color: hsl(0deg, 0%, 100%);
}
.header .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*layout*/
/*components*/
