@use'../abstracts/' as *;
@use'../base/' as *;

.footer {
    background-color: hsl(165deg 43% 71%);

    &__logo-container {
        display: flex;
        justify-content: center;
        padding: 50px 0 20px;

        .footer__logo {
            width: 170px;
        }
    }

    &__links {
        display: flex;
        padding: 0;
        justify-content: space-around;
        color: $dark-moderate-cyan;
        font-size: 2rem;
        margin: 15px 8px 15px;
    }

    .social-media {
        display: flex;
        justify-content: center;
        gap: 32px;
        padding: 60px;
    }

    @media only screen and (min-width: 48em) {
        .footer__logo {
            width: 135px;
        }

        &__links {
            justify-content: center;
            gap: 45px;
            font-size: 1.5rem;
        }

        .social-media {
            gap: 20px;

            &__img {
                width: 15px;
            }
        }

    }
}