@use'../abstracts/' as *;
@use'../base/' as *;

.footer {
    background-color: hsl(165deg 43% 71%);

    &__logo-container {
        display: flex;
        justify-content: center;
        padding: 50px 0 20px;

        .footer__logo {
            width: 170px;
        }
    }


    &__links {
        display: flex;
        padding: 0;
        margin: 15px 8px 15px;
        justify-content: space-around;
    }

    &__links a {
        color: $dark-moderate-cyan;
        font-size: 1.5rem;

    }

    &__links li a:hover {
        color: $white;
        cursor: pointer;
    }


    .social-media {
        display: flex;
        justify-content: center;
        gap: 32px;
        padding: 60px;
    }



    @media only screen and (min-width: 48em) {
        .footer__logo {
            width: 135px;
        }

        .footer__logo:hover {
            color: $white;
            cursor: pointer;
        }

        &__links {
            justify-content: center;
            gap: 45px;
            font-size: 1.5rem;
        }

        .social-media {
            gap: 20px;

            li:hover svg path {
                fill: $white;
                cursor: pointer;
            }

        }

    }

    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}