@use'../abstracts/' as *;
@use'../base/' as *;


.header {
    background: url('../../images/mobile/image-header.jpg') center/cover;
    height: 78vh;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.5rem 2rem;
    }

    .hamburger-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu {
        display: none;

        &__item a {
            color: $dark-grayish-blue;
            font-family: $font-barlow;
            font-size: 2rem;
        }

        .mobile-menu__item:last-child a{
            color: hsl(212deg, 27%, 19%);
            font-family: "Fraunces", serif;
            text-transform: uppercase;
            font-size: 1.7rem;
            padding: 15px 25px;
            border-radius: 50px;
            background-color: $yellow;
        }

    }

    .mobile-menu.is-open {
        position: absolute;
        width: 90%;
        top: 90px;
        height: 315px;
        padding: 0;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        bottom: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-evenly;
        flex-direction: column;
        text-decoration: none;
        background-color: $white;
    }


    .mobile-menu {

        // @media only screen and (max-width: 768px) {
        //     display: none;
        // }
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;

        .hero__arrow {
            width: 35px;
            margin-top: 68px;
        }
    }

    @media only screen and (min-width: 48em){
        background-image: url("/images/desktop/image-header.jpg");
        height: 50vh;
        
    }
    
    @media only screen and (min-width: 90em){
        height: 130vh;
    }



}