@use'../abstracts/' as *;

.about {
    .a-container {
        text-align: center;
        margin: 25px 0 30px;
        text-transform: uppercase;
        font-weight: 900;
    }

    &__text {
        padding: 22px;
        color: $dark-grayish-blue;
    }

    &__h2 {
        margin: 30px 0;
        color: $very-dark-desaturated-blue;
    }

    // .about__body {}
}