@use'../abstracts/' as *;

.services-container {
    &__graphic, &__photography{
        background-repeat: no-repeat;
        background-size: cover;
        height: 84vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 1.6rem;
        padding: 50px 13px;
    }
    &__graphic{
        background-image: url("../../images/mobile/image-graphic-design.jpg");
        color: $dark-desaturated-cyan;
    }

    &__photography{
        background-image: url("../../images/mobile/image-photography.jpg");
        color: $dark-blue;
    }

    &__h2{
        font-size: 2.8rem;
    }
    &__p{
        margin: 35px 0px 0px;
    }
}