@use'../abstracts/' as *;

.services {
    // position: absolute;
    // &__graphic,
    // &__photography {
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     height: 90vh;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-end;
    //     font-size: 1.5rem;
    //     padding: 50px 13px;
    // }

    &__graphic-design,
    &__photography {
        position: relative;
    }
    
    &__graphic-design {
        color: $dark-desaturated-cyan;
    }
    
    &__photography {
        color: $dark-blue;
    }
    
    &__text-container{
        position: absolute;
        top: 65%;
    }

    &__h2 {
        font-size: 2.8rem;
    }

    &__p {
        margin-top: 35px;
        font-size: 1.65rem;
        padding: 0px 18px;
    }

    // @media only screen and (min-width: 48em) {
    //     display: flex;

    //     .services-text-container {
    //         padding: 15px;
    //     }

    //     &__graphic {
    //         background-image: url("../../images/desktop/image-graphic-design.jpg");
    //     }

    //     &__photography {
    //         background-image: url("../../images/desktop/image-photography.jpg");
    //     }

    //     &__graphic,
    //     &__photography {
    //         width: 50vw;
    //         height: 50vh;
    //         background-position: center;
    //     }
    // }
}