@use'../abstracts/' as *;

.testimonials {
    margin: 30px 12px;

    .testimonials__title {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.5rem;
        letter-spacing: 5px;
        color: $grayish-blue;
        margin: 60px 0;

        @media only screen and (min-width: 48em) {
            font-size: 1.9rem;
        }
    }

    .testimonial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__img {
            border-radius: 50%;
            width: 70px;
        }

        &__body {
            color: $very-dark-grayish-blue;
            margin: 36px 0;
            padding: 25px 47px;
        }

        &__name {
            color: $very-dark-desaturated-blue;
            font-weight: 900;
        }

        &__role {
            color: $grayish-blue;
            font-size: 1.4rem;
            margin-top: 8px;
            margin: 8px 0px 60px;
        }
    }

    @media only screen and (min-width: 48em) {
        display: grid;
        grid-template-areas: 
        "a a a"
        "b c d";
        column-gap: 25px;

        .testimonials__title {
            grid-area: a;
        }
    }
}